
.suggested-labels-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.suggested-label {
    text-align: left;
}

.labely-logo {
    padding-left: 10%;
    padding-right: 10% !important;
    padding-bottom: 10%; 
    padding-top: 10%;
}

.myRedButton {
    color: #FFFF ;
    background-color: #A93F55;
    border-style: none;
}

.myRedButton:focus {
    background-color: #F2545B;
}

.myRedButton:hover {
    background-color: #F2545B;
}

.mySearchButton {
    float: right !important;
    color: #FFFF !important;
    background-color: #A93F55 !important;
    border-style: none;
}

.mySearchButton:focus {
    background-color: #F2545B;
}

.mySearchButton:hover {
    background-color: #F2545B;
}

.chart {
    margin: auto;
    min-height: 300px;
    position: relative;
    width: 100%
}

.chart-xs {
    min-height: 200px
}

.chart-sm {
    min-height: 252px
}

.chart-lg {
    min-height: 350px
}

.chart-xl {
    min-height: 500px
}

.chart canvas {
    max-width: 100%
}

.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.8125rem + 2px);
    padding: .25rem .7rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #b9c4cf;
    background-color: #fff !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .2rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a8c5f0;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(59, 125, 221, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding: .25rem 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    background-color: initial;
    border: solid transparent;
    border-width: 1px 0
}

.form-control-plaintext.form-control-lg, .form-control-plaintext.form-control-sm {
    padding-right: 0;
    padding-left: 0
}

.form-control-sm {
    min-height: calc(1.425rem + 2px);
    padding: .15rem .5rem;
    font-size: .75rem;
    border-radius: .1rem
}

.form-control-lg {
    min-height: calc(2.0875rem + 2px);
    padding: .35rem 1rem;
    font-size: .925rem;
    border-radius: .3rem
}

.form-control-color {
    max-width: 3rem;
    padding: .25rem
}

.form-control-color::-moz-color-swatch {
    border-radius: .2rem
}

.form-control-color::-webkit-color-swatch {
    border-radius: .2rem
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid transparent;
    padding: .25rem .7rem;
    font-size: .875rem;
    border-radius: .2rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
