
.suggested-labels-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.suggested-label {
    text-align: left;
}

.labely-logo {
    padding-left: 10%;
    padding-right: 10% !important;
    padding-bottom: 10%; 
    padding-top: 10%;
}

.myRedButton {
    color: #FFFF ;
    background-color: #A93F55;
    border-style: none;
}

.myRedButton:focus{background-color:#F2545B;}
.myRedButton:hover{background-color:#F2545B;}
.ownBadge{background-color:#A93F55 !important;}

.myRedButton:focus {
    background-color: #F2545B;
}

.myRedButton:hover {
    background-color: #F2545B;
}

.mySearchButton {
    float: right !important;
    color: #FFFF !important;
    background-color: #A93F55 !important;
    border-style: none;
}

.mySearchButton:focus {
    background-color: #F2545B;
}

.mySearchButton:hover {
    background-color: #F2545B;
}

